* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f3f4f6;
    padding: 30px;
    transition: 0.4s;
}

.dark {
    background: #111827;
    color: white;
}

.dark .card {
    background: #1f2937;
    color: white;
}

.header {
    background: linear-gradient(135deg,
            #0f172a,
            #2563eb);

    color: white;

    padding: 35px;

    border-radius: 25px;

    margin-bottom: 25px;
}

.grid {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(350px, 1fr));

    gap: 20px;
}


.card {
    background: white;

    padding: 25px;

    border-radius: 20px;

    box-shadow:
        0 5px 15px rgba(0, 0, 0, 0.08);
}

.card h2 {
    margin-bottom: 20px;
}

.item {
    display: flex;

    justify-content: space-between;

    padding: 12px 0;

    border-bottom: 1px solid #e5e7eb;
}

.badge {
    padding: 7px 15px;

    border-radius: 30px;

    color: white;

    font-size: 14px;
}

.green {
    background: #16a34a;
}

.red {
    background: #dc2626;
}

.orange {
    background: #ea580c;
}

.products {
    display: flex;

    flex-wrap: wrap;

    gap: 10px;
}

.product {
    background: #dbeafe;

    color: #1d4ed8;

    padding: 10px 15px;

    border-radius: 20px;
}

button {
    background: #2563eb;

    color: white;

    border: none;

    padding: 12px 18px;

    border-radius: 10px;

    cursor: pointer;
}